<div class="text-center m-3">
  <h1 class="text-white">Ca-Ching-App</h1>
</div>

<div id="react-root"></div>

<div id="products-react"></div>

<div class="text-center mb-4">
  <turbo-frame id="cart">
    <%= render 'carts/cart', cart: @cart %>
  </turbo-frame>
</div>

<div class="card mb-4 discounts-info">
  <div class="card-header bg-custom-amber text-custom-dark">
    <h2 class="h5 mb-0">Current Promotions</h2>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Green Tea: Buy one, get one free!</li>
      <li class="list-group-item">Strawberries: Buy 3 or more and pay only €4.50 each</li>
      <li class="list-group-item">Coffee: Buy 3 or more and get 2/3 of the original price</li>
    </ul>
  </div>
</div>
