<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= product.name %> - <%= number_to_currency(product.price) %>
    </li>
    <%= button_to "Add to Cart", add_product_cart_path(@cart.id, product_id: product.id), method: :post %>
  <% end %>
</ul>

<%= button_to "Create New Cart", carts_path, method: :post %>
